# Libraries

In [22]:
import pandas as pd

In [23]:
# I don't know which CSV is my group's data so I am gonna process both

In [24]:
# CSV 1
df1 = pd.read_excel("data_macrophage/CBA/csv/11-2 cytometer 2 pl 2 pod 15 & 27 & 18 & 29.xlsx")
df1.head()

,Sample,beads | Freq. of Parent,beads/TNF | Freq. of Parent,beads/TNF | Mean (PE-A :: null)
0,Specimen_001_A1_A01.fcs,21.8,96.3,13.80
1,Specimen_001_A2_A02.fcs,19.2,97.1,7.60
2,Specimen_001_A3_A03.fcs,14.4,92.9,7.63
3,Specimen_001_B1_B01.fcs,18.9,96.9,686.00
4,Specimen_001_B2_B02.fcs,22.7,94.4,972.00

In [25]:
# CSV 2
df2 = pd.read_excel("data_macrophage/CBA/csv/11am cytometer 2 pl 4 pod 18 & 15 & 18 & 14.xlsx")
df2.head()

,Sample,beads | Freq. of Parent,beads/TNF | Freq. of Parent,beads/TNF | Mean (PE-A :: null)
0,Specimen_001_A1_A01.fcs,11.60,94.5,18.70
1,Specimen_001_A2_A02.fcs,7.27,100.0,3.38
2,Specimen_001_A3_A03.fcs,3.33,100.0,8.13
3,Specimen_001_B1_B01.fcs,35.10,100.0,1411.00
4,Specimen_001_B2_B02.fcs,27.50,90.9,1402.00

In [26]:
def filter_ordered_samples(df):
    # Define the target sample identifiers in the required order
    target_identifiers = [
        f"{row}{col}" for row in "ABCDEFGH" for col in range(4, 7)
    ]
    
    # Create an empty DataFrame to store results in the specified order
    ordered_samples_df = pd.DataFrame()

    # Loop through the target identifiers and filter the DataFrame accordingly
    for identifier in target_identifiers:
        # Filter rows where 'Sample' column contains the current identifier
        matching_rows = df[df['Sample'].str.contains(rf"_{identifier}_", regex=True)]
        # Append matching rows to the ordered DataFrame
        ordered_samples_df = pd.concat([ordered_samples_df, matching_rows])

    return ordered_samples_df

In [27]:
# Apply the function to both DataFrames
filtered_df1 = filter_ordered_samples(df1)
filtered_df2 = filter_ordered_samples(df2)

# CSV 1

In [28]:
# Display the results
filtered_df1

,Sample,beads | Freq. of Parent,beads/TNF | Freq. of Parent,beads/TNF | Mean (PE-A :: null)
24,Specimen_002_A4_A04.fcs,15.00,97.5,8.47
25,Specimen_002_A5_A05.fcs,33.10,98.7,7.13
26,Specimen_002_A6_A06.fcs,29.10,93.4,8.35
27,Specimen_002_B4_B04.fcs,23.10,97.1,813.00
28,Specimen_002_B5_B05.fcs,25.20,95.5,409.00
29,Specimen_002_B6_B06.fcs,19.80,96.4,489.00
30,Specimen_002_C4_C04.fcs,17.80,93.6,854.00
31,Specimen_002_C5_C05.fcs,24.40,96.3,952.00
32,Specimen_002_C6_C06.fcs,23.00,90.9,947.00
33,Specimen_002_D4_D04.fcs,18.50,90.5,817.00
34,Specimen_002_D5_D05.fcs,24.50,93.7,571.00
35,Specimen_002_D6_D06.fcs,27.40,96.0,723.00
36,Specimen_002_E4_E04.fcs,23.70,94.4,22.60
37,Specimen_002_E5_E05.fcs,26.40,98.5,7.56
38,Specimen_002_E6_E06.fcs,29.10,95.8,7.66
39,Specimen_002_F4_F04.fcs,17.40,97.0,453.00
40,Specimen_002_F5_F05.fcs,20.30,91.4,928.00
41,Specimen_002_F6_F06.fcs,19.80,95.4,213.00
42,Specimen_002_G4_G04.fcs,20.30,100.0,678.00
43,Specimen_002_G5_G05.fcs,20.40,98.9,586.00
44,Specimen_002_G6_G06.fcs,13.70,93.5,665.00
45,Specimen_002_H4_H04.fcs,8.03,93.6,15.20
46,Specimen_002_H5_H05.fcs,7.68,90.2,17.90
47,Specimen_002_H6_H06.fcs,17.80,99.4,16.40

# CSV 2

In [29]:
# Isolate A4 to H6
filtered_df2

,Sample,beads | Freq. of Parent,beads/TNF | Freq. of Parent,beads/TNF | Mean (PE-A :: null)
24,Specimen_002_A4_A04.fcs,0.00,0.0,NaN
25,Specimen_002_A5_A05.fcs,19.00,100.0,6.43
26,Specimen_002_A6_A06.fcs,16.70,100.0,1.89
27,Specimen_002_B4_B04.fcs,0.00,0.0,NaN
28,Specimen_002_B5_B05.fcs,11.10,100.0,777.00
29,Specimen_002_B6_B06.fcs,35.70,60.0,528.00
30,Specimen_002_C4_C04.fcs,18.20,50.0,982.00
31,Specimen_002_C5_C05.fcs,10.50,100.0,898.00
32,Specimen_002_D4_D04.fcs,0.00,0.0,NaN
33,Specimen_002_D5_D05.fcs,14.30,100.0,911.00
34,Specimen_002_D6_D06.fcs,6.25,100.0,764.00
35,Specimen_002_E4_E04.fcs,12.50,100.0,2.28
36,Specimen_002_E6_E06.fcs,0.00,0.0,NaN
37,Specimen_002_F4_F04.fcs,0.00,0.0,NaN
38,Specimen_002_F5_F05.fcs,18.20,50.0,135.00
39,Specimen_002_F6_F06.fcs,8.33,50.0,219.00
40,Specimen_002_G4_G04.fcs,20.00,100.0,483.00
41,Specimen_002_G5_G05.fcs,10.00,100.0,781.00
42,Specimen_002_G6_G06.fcs,0.00,0.0,NaN
43,Specimen_002_H4_H04.fcs,7.69,0.0,NaN
44,Specimen_002_H5_H05.fcs,40.00,100.0,15.30
45,Specimen_002_H6_H06.fcs,5.88,100.0,19.80